<h4>Teacher comp 2</h4>

{{teacherDtoFg.value | json}}
<hr/>
{{teacherDtoFg.controls['name'].errors | json}}
<hr/>

<form [formGroup]="teacherDtoFg">

  <div class="row">
    <div class="col-md-4">
      <ng-select [items]="carList"
                 bindLabel="name"
                 bindValue="id"
                 formControlName="carId">
      </ng-select>
    </div>
    <div class="col-md-4">
      <label for="">id: </label>
      <input type="text" formControlName="id">
    </div>
    <div class="col-md-4">
      <label for=""> name: </label>
      <input type="text" formControlName="name">
      <div *ngIf="teacherDtoFg.controls['name'].touched
&& teacherDtoFg.controls['name'].errors?.['required']" class="alert alert-danger">
        Name is required
      </div>
      <div *ngIf="teacherDtoFg.controls['name'].touched
&& teacherDtoFg.controls['name'].errors?.['maxlength']" class="alert alert-danger">
        Max Length 3
      </div>
    </div>

    <div class="col-md-4">
      <button type="button" (click)="save()">Submit</button>
    </div>
  </div>

</form>

<hr/>
<!--{{teacherDtoList | json}}-->
<button (click)="search()">search</button>
<table class="table table-striped">
  <thead>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let teacherDto of teacherDtoList">
    <td>{{teacherDto.id}}</td>
    <td>{{teacherDto.name}}</td>
    <td>
      <button (click)="edit(teacherDto)">Edit</button>
      <button (click)="delete(teacherDto)">Delete</button>
    </td>
  </tr>


  </tbody>
</table>
